<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>供应商主界面</title>
		<link rel="stylesheet" type="text/css" href="../../layuiadmin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../layuiadmin/style/admin.css" />
		<script src="../../vue/jquery-2.1.4.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="div" class="page-content-wrap">
					<div class="layui-form" id="table-list">
						<table class="layui-table" lay-skin="line">
							<colgroup>
								<col width="50">
								<col class="hidden-xs" width="50">
								<col class="hidden-xs" width="100">
								<col class="hidden-xs" width="100">
								<col>
								<col width="80">
								<col width="130">
							</colgroup>
							<thead>
								<tr>
									<th width="200px">ID</th>
									<th width="200px">公司名称</th>
									<th width="200px">状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="u in info" id='node-1' class="parent collapsed">
									<td class="hidden-xs">{{u.id}}</td>
									<td class="hidden-xs">{{u.companyName}}</td>
									<td>
										<div class="layui-inline">
										<button class="layui-btn layui-btn-mini layui-btn-normal table-list-status" v-bind:id="u.id" onclick="find(this.id,this.value)" v-if="u.companyStatus==='0'"  value="未通过">未通过</button>
										<button class="layui-btn layui-btn-mini layui-btn-normal table-list-status" v-bind:id="u.id" onclick="find(this.id,this.value)" v-if="u.companyStatus==='1'"  value="已审核">已通过</button>
										<button class="layui-btn layui-btn-mini layui-btn-normal table-list-status" v-bind:id="u.id" onclick="find(this.id,this.value)" v-if="u.companyStatus==='2'"  value="已冻结">已冻结</button>
										</div>
									</td>

									<td>
										<div class="layui-inline">
											<button class="layui-btn layui-btn-mini layui-btn-danger del-btn" data-id="1" @click="del(u.id)"><i class="layui-icon">&#xe640;</i></button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div id="fenYe" style="text-align: center;"></div>
					</div>

		</div>
		<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../static/js/common.js" type="text/javascript" charset="utf-8"></script>
		<!--vue-->
		<script src="../../vue/Vue.js"></script>
		<!--使用ajax 需要导入-->
		<script  src="../../vue/vue-resource.js"></script>
		<!--获取URL的参数-->
		<script  src="../../vue/paragram.js"></script>
		<script type="text/javascript">
			//使用Vue渲染模板，初始化时是没有数据的，需要ajax请求拿到数据
			var vue = new Vue({
				el: "#div",
				data: {
					info: null
				},
				methods:{
					del:function (id) {
						layer.confirm('您确定删除吗？', {
							btn: ['是', '否'] //按钮
						}, function () {
							alert(id);

							layer.msg('删除成功', {
								time: 1000, //0.5s后自动关闭
								icon: 1
							});
							//在这里写方法

						}, function () {
							layer.msg('取消删除', {
								time: 1000 //0.5s后自动关闭
							});
						});
					},
					findCompany:function (id) {
							alert(id);
						// this.$http.get('findCompany',{params : {id:id}}).then(function(res){
						// 	document.write(res.body);
						// },function(res){
						// 	console.log(res.status);
						// });
					}
				}
			});

			//使用layui分页
			layui.use('laypage', function () {
				var laypage = layui.laypage;

				laypage.render({
					elem: 'fenYe'
					, count: totalCount
					, limit :6
					, groups:5
					, layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip']
					, jump: function (obj, first) {
						//点击非第一页页码时的处理逻辑。比如这里调用了ajax方法，异步获取分页数据
						if (!first) {
							pagination(obj.curr, obj.limit);//第二个参数不能用变量pageSize，因为当切换每页大小的时候会出问题
						}
					}
				});
				var nums=6;
			});

			var pageIndex = 1;
			var pageSize = 6;
			var totalCount = 0;
			pagination(pageIndex, pageSize);
			function pagination(pageIndex, pageSize) {
				//查询条件
				var param = {
					currPage: pageIndex,
					pageSize: pageSize,
					//其它查询条件可在下面添加
				};
				$.ajax({
					type: 'POST',
					url: '/getListCompany',
					dataType: 'json',
					data: param,
					async: false,//这里设置为同步执行，目的是等数据加载完再调用layui分页组件，不然分页组件拿不到totalCount的值
					success: function (data) {
						vue.info = data.list;
						totalCount = data.totalPage;
					}
				});
			};

			/*弹出页面，小窗口 不要管*/
			function find(id,btn){
				var a="";
				if(btn =='已审核'){
					a="afternoon.html?id="+id;
				}else if(btn =='未通过' ){
					a="unfinished.html?id="+id;
				}else if(btn=='已审核'){
					a="afternoon.html?id="+id;
				}
				var index =layer.open({
					type: 2,
					skin: 'a', //样式类名
					title: '<div class="layui-layer-title" style="cursor: move;">促销详情</div>',
					//closeBtn: 1, //不显示关闭按钮
					//anim: 2,
					area: setpage(),
					//shadeClose: false, //开启遮罩关闭
					//页面最大最小化，true可以最大最小化，false没有最大最小化
					maxmin: true,
					offset: ['2px','15px'],
					/*要跳的页面*/
					content: a
				});
				layer.full(index);

			}
			//定义弹出的窗口根据不同屏幕分辨率来改变大小
			function setpage() {
				if ($(window).width() < 458) {
					return ['100%', '100%'];
				} else {
					return ['70%', '70%'];
				}
			}
			//点击删除一条记录

		</script>
	</body>
</html>